@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 1px solid rebeccapurple;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  line-height: 1.5;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--light-grayish-blue);
}

.preview {
  background: #fff;
  margin: 4rem 1.5rem;
  border-radius: 0.5rem;
  position: relative;
  max-width: 730px;
  z-index: 1;
}

.preview-img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.preview-body {
  padding: 2rem 2rem 1rem 2rem;
}

.preview-title {
  color: var(--very-dark-grayish-blue);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.preview-summary {
  color: var(--desaturated-dark-blue);
  font-weight: 500;
  margin-bottom: 2rem;
}

.preview-author-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview-author {
  font-size: 14px;
  color: var(--very-dark-grayish-blue);
}

.preview-date {
  color: var(--grayish-blue);
}

.author-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.share-button {
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
  margin-left: auto;
  z-index: 9;
  background-color: var(--light-grayish-blue);
  cursor: pointer;
  transition: background-color 300ms ease;
}

.share-button:hover,
.share-button:active,
.share-button:hover .share-button-icon,
.share-button:active .share-button-icon {
  background-color: var(--desaturated-dark-blue);
  fill: #fff;
}

.share-button-icon {
  fill: var(--desaturated-dark-blue);
}

.share-button.active,
.share-button.active .share-button-icon {
  fill: #fff;
  background-color: var(--grayish-blue);
}

.preview-share-tab {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 1.25rem 2rem;
  background-color: var(--very-dark-grayish-blue);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.preview-share-tab.active {
  display: flex;
}

.share-content {
  display: flex;
  width: 75%;
  justify-content: space-around;
}

.share-title {
  color: var(--grayish-blue);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.social-icon-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.social-icon {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 640px) {
  .container {
    justify-content: center;
  }

  .preview {
    display: flex;
  }

  .preview-img {
    max-width: 285px;
    height: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
  }

  .preview-share-tab {
    width: 250px;
    border-radius: 0.5rem;
    padding: 1.25rem 2rem;
    right: -10%;
    bottom: 30%;
  }

  .preview-share-tab::after {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 50%;
    margin-top: 15px;
    transform: rotate(45deg);
    z-index: 1;
    background-color: var(--very-dark-grayish-blue);
  }

  .share-content {
    width: 100%;
    /* background-color: salmon; */
    justify-content: space-between;
    align-items: center;
  }

  .social-icon:last-child {
    margin-right: 0;
  }
}
